.text {
	font-weight: 300;
	font-size: 1.1rem;
	margin: 10px 0;
}

.title {
	font-weight: 700;
	margin: 25px 0;
}

.sub-title {
	font-weight: 500;
	margin: 18px;
}

.main-block {
	max-width: 1200px;
	width: 95%;
	margin: 40px auto;
	padding: 0 20px;
}

.img-block {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img-block > img {
	display: block;
	width: 100%;
	height: auto;
}

.line {
	height: 1px;
	width: 95%;
	margin: 7px auto;
	background: #b7e6e8;
}

.code-block {
	counter-reset: line-num;
}

.code-line {
	position: relative;
	min-height: 1.3rem;
}

.code-line:before {
	position: absolute;
	top: 0;
	left: 0;
	content: counter(line-num);
	counter-increment: line-num;
	opacity: 0
}

.code-line.written:before {
	opacity: 1;
}