html {
    background: #090c10;
    border-color: #30363d;
    color: #f0f2f8;
}

.progect-desc, .code-block{
    background: #293238;
    border: 3px solid #697278;
}

.line {
    background-color: rgb(233, 30, 99);
}

.code-line, .code-line:before {
    color: rgb(175, 189, 187);
}

.code-string {
    color: rgb(105, 134, 83);
}

.code-key-word {
    color: rgb(203, 119, 49);
}

.code-comment {
    color: rgb(117, 117, 117);
}

.code-semicolon {
    color: rgb(203, 119, 49); 
}