html {
  background: #f0f0f0;
  border-color: #ede9e9;
  color: #0d1117;
}

.progect-desc, .description__code{
  border: 3px solid #697278;
  background: #ede9e9;
}

.motivation .img {
  border: 3px solid #697278;
}